* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background-image: url(karsten-winegeart-LpRpIkbSLwI-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
 
}

nav {
  background-color: #000;
  color: #fff;
  padding: 10px 0;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo {
  height: 35px;
  width: 190px;
  color: #fff;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
}

.form-container {
  background-color: transparent;
 
  padding: 20px;
  margin: 20px auto;
  max-width: 400px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1),0 0 10px rgba(0, 0, 0, 0.2);
  display: block;
}
.form-container-1 {
  background-color: transparent;
  
  margin: 20px auto;
  max-width: 500px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display:none;
}

.form-container h2 {
  margin-bottom: 20px;
}

.form-container label {
  display: block;
  margin-bottom: 5px;
}

.form-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-container button {
  width: 100%;
  padding: 10px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-container button:hover {
  background-color: #333;
}


@media (max-width: 600px) {
  .nav-links {
      flex-direction: column;
      align-items: center;
  }
  body{
    background-image: url(giorgio-trovato-LV_4qM5Gf9c-unsplash.jpg);
  }
  .form-container-1 {
    max-width: 380px;
  }
  
}
.form-container-1 h2 {
  margin-bottom: 20px;
}

.form-container-1 label {
  display: block;
  margin-bottom: 5px;
}

.form-container-1 input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-container-1 button {
  width: 100%;
  padding: 10px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-container-1 button:hover {
  background-color: #333;
}

